$main-color: #FFE500;
$black-color: #333333;
$gray-color: #999999;
$light-color: #EEEEEE;
$blue-color: #3483FA;

$space-1x: 16px;
$space-2x: $space-1x * 2;

$body-size-text: 16px;

$font-lato: 'Lato', sans-serif;

$transitionBackgroundColor: background-color ease 0.2s;