@import "../../../styles//variables.scss";

.product-item {
  display: flex;
  margin: $space-1x;

  &__title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }

  &__price {
    font-size: 24px;
    margin-bottom: $space-2x;

    &__symbol {
      margin-right: 10px;
    }
  }

  &__image {
    width: 180px;
    height: 180px;
    margin-right: $space-1x;
    overflow: hidden;
    flex: 0 0 auto;

    &__src {
      border-radius: 2px;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    flex: 4 0 0%;
  }

  &__location {
    color: $gray-color;
    margin-left: auto;
    font-size: 12px;
    flex: 0 0 200px;
    display: flex;
    justify-content: flex-end;
  }

  &__free-shipping {
    margin-left: $space-1x / 2;

    &__img {
      width: 18px;
      height: 18px;
    }
  }
}