@import "../../../styles//variables.scss";

.product-item {
  display: flex;
  margin: $space-1x;

  &__content {
    flex: 1 0 auto;
  }

  &__details {
    margin-top: $space-1x;
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-2x;
  }

  &__title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: $black-color;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  &__price {
    font-size: 24px;

    &__symbol {
      margin-right: 10px;
    }
  }

  &__image {
    width: 180px;
    height: 180px;
    margin-right: $space-1x;
    border-radius: 4px;
    overflow: hidden;
    flex: 0 0 auto;

    &__src {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__location {
    color: $gray-color;
    margin-left: auto;
    font-size: 12px;
    align-self: flex-end;
    margin-right: $space-4x;
  }

  &__free-shipping {
    margin-left: $space-1x / 2;

    &__img {
      width: 18px;
      height: 18px;
    }
  }
}